* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

#menu {
  top: 0;
  padding: 0;
  margin: 0;
  display: none;
}

#menu:target {
  display: block;
}

nav .nav-1 {
  height: 60px;
  width: 100%;
  background-color: #131921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  grid-gap: 20px;
  top: 0;
  left: 0;
  z-index: 0.1;
  /* Dropdown Button */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Radio */
  /* Show the dropdown menu on hover */
}
nav .nav-1 a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1.5px solid transparent;
  padding: 0;
}
nav .nav-1 a .div_ubi {
  display: flex;
}
nav .nav-1 a .div_ubi i {
  font-size: 20px;
}
nav .nav-1 a .div_ubi span {
  padding-top: 4px;
}
nav .nav-1 a img {
  text-align: center;
  height: 65px;
  width: 120px;
  padding: 0;
  margin-top: 10px;
}
nav .nav-1 .nav-logo {
  height: 45px;
  width: auto;
}
nav .nav-1 .nav-logo img {
  margin-top: -6px;
  height: 60px;
  position: relative;
}
nav .nav-1 .nav-ubication {
  height: 50px;
  padding-top: 7px;
}
nav .nav-1 .enviar {
  margin-left: 17px;
  font-size: 0.72rem;
  color: gray;
}
nav .nav-1 .estilo_letra_bajo {
  font-size: 0.9rem;
  font-weight: 700;
}
nav .nav-1 .p_1 {
  font-size: 0.72rem;
}
nav .nav-1 div.nav-buscador {
  display: flex;
  justify-content: center;
  align-items: 0px;
  flex-direction: row;
  height: 45px;
  width: 70%;
  border: 0px;
}
nav .nav-1 div.nav-buscador select {
  border-radius: 7px 0px 0px 7px;
  background-color: #f3f3f3;
  border-right-color: #CDCDCD;
  height: 46.6px;
  width: 7%;
  margin-top: -0.6px;
  text-align: center;
  color: Gray;
}
nav .nav-1 div.nav-buscador select:hover {
  background-color: #D4D4D4;
  color: black;
}
nav .nav-1 div.nav-buscador input {
  padding-bottom: auto;
  padding-left: 5px;
  padding-right: auto;
  padding-top: auto;
  width: 86%;
  border: none;
  font-size: 1.1rem;
}
nav .nav-1 div.nav-buscador button {
  background-color: #febd68;
  padding: 10px 0px;
  width: 5%;
  border-radius: 0px 7px 7px 0px;
  border: none;
  font-size: 1.6rem;
}
nav .nav-1 .dropdown {
  position: relative;
  display: inline-block;
}
nav .nav-1 .dropdown .nav-pais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: auto;
  padding-bottom: 1px;
}
nav .nav-1 .dropdown .nav-pais i {
  color: #A7ACB2;
  padding-bottom: auto;
  padding-left: 3px;
  padding-right: auto;
  padding-top: 20px;
  font-size: 8px;
}
nav .nav-1 .dropdown .nav-pais span {
  padding-top: 13px;
  font-size: 20;
  font-weight: 700;
}
nav .nav-1 .dropdown .nav-pais img {
  margin-right: 8px;
  height: 23px;
  width: 23px;
}
nav .nav-1 .dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
}
nav .nav-1 .dropdown-content {
  color: gray;
  font-size: 13px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 260px;
  height: 460px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
nav .nav-1 .dropdown-content p a {
  font-size: 12px;
}
nav .nav-1 .dropdown-content a {
  margin-left: 35px;
  font-size: 12px;
}
nav .nav-1 .dropdown-content hr {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
nav .nav-1 .espaciador {
  padding-bottom: 5px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 5px;
}
nav .nav-1 .espaciador img {
  width: 18px;
  margin-right: 5px;
}
nav .nav-1 .espaciador input {
  margin: 2px;
}
nav .nav-1 .espaciador .a_1 {
  padding-right: 0px;
  margin-left: 160px;
  font-size: 13px;
}
nav .nav-1 .dropdown-content a {
  color: #007185;
  text-decoration: none;
}
nav .nav-1 .dropdown-content a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: orange;
}
nav .nav-1 .dropdown-content input[type=radio] {
  cursor: pointer;
  accent-color: orange;
}
nav .nav-1 .dropdown-content label {
  cursor: pointer;
}
nav .nav-1 .dropdown-content label:hover {
  cursor: pointer;
  color: orange;
  text-decoration: underline;
}
nav .nav-1 .dropdown-content span {
  color: #007185;
}
nav .nav-1 .dropdown-content span:hover {
  color: #007185;
  text-decoration: underline;
  text-decoration-color: orange;
}
nav .nav-1 .esp_tot0 {
  display: none;
  margin-top: 90px;
  margin-left: -1240px;
  margin-right: auto;
  margin-bottom: auto;
  height: 100vh;
  width: 100vw;
  background-color: Black;
  opacity: 0.5;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 4;
}
nav .nav-1 .dropdown:hover .dropdown-content {
  display: block;
}
nav .nav-1 .dropdown:hover .esp_tot0 {
  display: block;
}
nav .nav-1 .dropdown_2 {
  height: 45px;
  width: 153px;
  padding-top: 5px;
}
nav .nav-1 .dropdown_2 .nav-cuenta {
  padding-top: 5px;
  position: absolute;
}
nav .nav-1 .dropdown_2 .nav-cuenta p {
  display: flex;
}
nav .nav-1 .dropdown_2 .nav-cuenta p i {
  padding-bottom: auto;
  padding-left: 3px;
  padding-right: auto;
  padding-top: 5px;
  color: #A7ACB2;
  font-size: 8px;
}
nav .nav-1 .dropdown2-content {
  color: gray;
  font-size: 13px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 500px;
  height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin-top: 40px;
  margin-left: -260px;
  margin-right: auto;
  margin-bottom: auto;
  padding-bottom: auto;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
}
nav .nav-1 .esp_tot {
  display: none;
  margin-top: 86px;
  height: 100%;
  width: 100%;
  background-color: Black;
  opacity: 0.5;
  left: 0;
  position: absolute;
  z-index: 4;
}
nav .nav-1 .dropdown_2:hover .dropdown2-content {
  display: block;
}
nav .nav-1 .dropdown_2:hover .esp_tot {
  display: block;
}
nav .nav-1 .dropdown2-content {
  background-color: #FFFFFF;
  padding-right: 10px;
}
nav .nav-1 .dropdown2-content hr {
  color: #919599;
}
nav .nav-1 .dropdown_2_1 {
  padding-bottom: auto;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: auto;
  margin-bottom: 15px;
}
nav .nav-1 .dropdown_2_1 button {
  background-color: #FFD814;
  border-style: none;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 10px;
  height: 35px;
  width: 87%;
  display: block;
}
nav .nav-1 .dropdown_2_1 button {
  cursor: pointer;
}
nav .nav-1 .dropdown_2_1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 11px;
}
nav .nav-1 .dropdown_2_1 a {
  padding-left: 10px;
  font-size: 11px;
  color: #007185;
}
nav .nav-1 .dropdown_2_1 a:hover {
  color: #C7511F;
}
nav .nav-1 .dropdown_2_2 {
  padding-bottom: auto;
  padding-left: 1rem;
  padding-right: auto;
  padding-top: 10px;
  display: flex;
  width: 500px;
  color: black;
}
nav .nav-1 .dropdown_2_2 li {
  list-style: none;
  padding-bottom: 4px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 5px;
}
nav .nav-1 .dropdown_2_2 a {
  color: #919599;
  font-size: 13px;
}
nav .nav-1 .dropdown_2_2 a:hover {
  color: #C7511F;
  text-decoration: underline;
}
nav .nav-1 .dropdown_2_2 h3 {
  font-size: 16px;
  color: #232F3E;
}
nav .nav-1 .dropdown_2_2 .colum_2 {
  width: 500px;
  margin-left: 20px;
  padding-left: 80px;
}
nav .nav-1 .dropdown_2_2 .colum_1 {
  width: 400px;
}
nav .nav-1 .nav-carrito {
  width: 100px;
  display: flex;
  font-weight: 700;
}
nav .nav-1 .nav-carrito span {
  margin-top: 19px;
  padding-top: 2px;
}
nav .nav-1 .nav-carrito img {
  height: 36px;
  width: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 4px;
  margin-bottom: 7px;
}
nav .nav-1 .nav-devoluciones {
  height: 40px;
  padding-top: 5px;
}
nav .nav-2 {
  color: white;
  background-color: #232F3E;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: 20px;
  align-items: 50px;
  flex-direction: row;
}
nav .nav-2 div {
  margin-top: 3px;
  width: auto;
  padding: 8px 10px;
  font-size: 0.9rem;
  font-weight: 700;
}
nav .nav-2 span {
  color: white;
}
nav .nav-2 i {
  font-size: 30px;
  margin-top: -6px;
  position: absolute;
}
nav .nav-2 .menu_abrir {
  font-size: 15px;
  margin-top: -20px;
  margin-left: 28px;
  margin-right: auto;
  margin-bottom: auto;
}
nav .nav-2 menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav .menu i {
  color: white;
}
nav .border {
  border: 1.5px solid transparent;
}
nav .border:hover {
  border: 1.5px solid white;
}
nav .menu_desple {
  height: 100%;
  min-width: 350px;
  background-color: white;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
nav .menu_desple .boton_cerrar {
  padding: 0;
  position: fixed;
  margin-left: 350px;
}
nav .menu_desple .boton_cerrar button {
  background-color: black;
  opacity: 0.5;
  height: 2000px;
  width: 2000px;
}
nav .menu_desple .boton_cerrar a {
  color: white;
}
nav .menu_desple .boton_cerrar a i {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 50px;
}
nav .menu_desple .cabeza {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #232F3E;
  height: 60px;
  width: 100%;
  padding-top: 15px;
}
nav .menu_desple .cabeza i {
  padding: 5px;
  margin-left: 0;
  border: 1px solid white;
  border-radius: 100%;
}
nav .menu_desple .cabeza a {
  color: white;
}
nav .menu_desple .cabeza p {
  padding-top: 10px;
  margin-left: 20%;
  font-size: 20px;
}
nav .menu_desple .menu_1 {
  background-color: white;
  height: 200px;
  width: 300px;
}
nav .menu_desple .menu_1 h3 {
  color: #111111;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: auto;
}
nav .menu_desple .menu_1 li {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  font-size: 13px;
}
nav .menu_desple .menu_1 li a {
  color: #4D4E4E;
}
nav .menu_desple .menu_1 li i {
  margin-left: 100px;
  float: inline-end;
}
nav .menu_desple .menu_2 {
  background-color: white;
  height: 270px;
  margin: 0px;
}
nav .menu_desple .menu_2 h3 {
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  color: #111111;
}
nav .menu_desple .menu_2 li {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  font-size: 13px;
}
nav .menu_desple .menu_2 li a {
  color: #4D4E4E;
}
nav .menu_desple .menu_3 {
  background-color: white;
  height: 270px;
  margin: 0px;
}
nav .menu_desple .menu_3 h3 {
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  color: #111111;
}
nav .menu_desple .menu_3 li {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  font-size: 13px;
}
nav .menu_desple .menu_3 li a {
  color: #4D4E4E;
}
nav .menu_desple .menu_4 {
  background-color: white;
  height: 270px;
  margin: 0px;
}
nav .menu_desple .menu_4 h3 {
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  color: #111111;
}
nav .menu_desple .menu_4 li {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 10px;
  font-size: 13px;
}
nav .menu_desple .menu_4 li a {
  color: #4D4E4E;
}

main {
  background-color: #E3E6E6;
}
main div.color_fondo {
  height: 120rem;
}
main a {
  color: black;
}
main a i.bx-chevron-left {
  font-size: 100px;
  position: absolute;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 3;
}
main a i.bx-chevron-right {
  font-size: 100px;
  position: absolute;
  margin-top: 80px;
  margin-left: 95rem;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 3;
}
main .carrusel img {
  background-color: line;
  width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  position: relative;
}
main .carrusel::after {
  content: "";
  margin-top: 1000ox;
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #E3E6E6, transparent);
}
main section.tarjetas {
  width: 90%;
  margin-top: -500px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: auto;
  position: absolute;
  justify-content: center;
  align-content: center;
}
main section.tarjetas .tarjetas_2 {
  margin-top: 100px;
  margin-left: 90px;
  margin-right: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  column-gap: 20px;
  row-gap: 20px;
  z-index: 1;
}
main section.tarjetas .tarjetas_2 .tarj {
  height: 400px;
  width: 350px;
}
main section.tarjetas .tarjetas_2 .tarj h3 {
  font-size: 20px;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 {
  background-color: white;
  padding-bottom: auto;
  padding-left: 1rem;
  padding-right: auto;
  padding-top: 1.5rem;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 div.secciones {
  display: grid;
  grid-template-columns: 10rem 10rem;
  align-content: center;
  justify-content: center;
  margin-left: -10px;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 div.secciones div {
  padding-top: 20px;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 div.secciones img {
  height: 5.9rem;
  padding: 0;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 div.secciones span {
  font-size: 12px;
  color: black;
  margin-top: -20px;
  margin-left: 3px;
  margin-right: auto;
  margin-bottom: auto;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 a.sec3 {
  margin-top: 2.9rem;
  font-size: 13px;
  color: #007185;
}
main section.tarjetas .tarjetas_2 .tarjeta_1 a.sec3:hover {
  color: #C7511F;
  text-decoration: underline;
}
main section.tarjetas .tarjetas_2 .tarjeta_2 {
  background-color: white;
  padding-bottom: auto;
  padding-left: 20px;
  padding-right: auto;
  padding-top: 25px;
}
main section.tarjetas .tarjetas_2 .tarjeta_2 div {
  margin-bottom: 9px;
}
main section.tarjetas .tarjetas_2 .tarjeta_2 div img.img_sec_2 {
  padding-top: 10px;
  height: 305px;
  width: 300px;
}
main section.tarjetas .tarjetas_2 a.sec3 {
  font-size: 13px;
  color: #007185;
}
main section.tarjetas .tarjetas_2 a.sec3:hover {
  color: #C7511F;
  text-decoration: underline;
}
main section.tarjetas .tarjetas_2 img.img_sec_3 {
  margin-top: 33px;
  height: 250px;
}
main section.tarjetas .tarjetas_2 img.img_sec_5 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 280px;
  width: 310px;
}
main section.tarjetas .tarjetas_2 img.img_sec_7 {
  margin-top: 10px;
  height: 240px;
  width: 300px;
}
main section.tarjetas .tarjetas_2 img.img_sec_9 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 310px;
}
main section.tarjetas .tarjetas_2 img.img_sec_10 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 310px;
}
main section.tarjetas .tarjetas_2 img.img_sec_11 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 310px;
}
main section.tarjetas .tarjetas_2 img.img_sec_14 {
  margin-top: 13px;
  margin-left: 12px;
  margin-right: auto;
  margin-bottom: -1px;
  height: 290px;
  width: 285px;
}
main section.tarjetas .tarjetas_2 span.span_tarje_1a {
  background-color: #CC0C39;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
}
main section.tarjetas .tarjetas_2 span.span_tarje_1b {
  color: #D22850;
  font-weight: 700;
  padding: 5px;
  font-size: 12px;
}
main section.tarjetas .tarjetas_2 span.span_tarje_1c {
  color: black;
  display: block;
  padding-top: 10px;
  font-size: 13px;
  margin-bottom: 15px;
}
main section.tarjetas .tarjetas_2 a.sec3_6 {
  font-size: 13px;
  color: #007185;
  margin-top: 20px;
}

footer {
  margin-top: 5px;
}
footer div.footer-1 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer div.footer-1 .div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  border: 1px solid #DDDDDD;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 30px;
}
footer div.footer-1 .div1 p {
  margin-bottom: 5px;
}
footer div.footer-1 .div1 .div1-1 {
  padding-top: 5px;
  font-size: 12px;
}
footer div.footer-1 .div1 .div1-1 a {
  text-decoration: none;
  color: #007185;
  margin-left: 2px;
}
footer div.footer-1 .div1 button {
  background-color: #ffd261;
  height: 25px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  border: none;
  text-decoration: none;
  box-shadow: inset 0px 9px 0px #ffe093;
  border-radius: 5px;
  font-weight: 750;
  background-image: linear-gradient(to top, ffd261, transparent);
}
footer div.footer-1 .div1 button:hover {
  cursor: pointer;
}
footer div.volver_inic {
  height: 50px;
  width: 100%;
  background-color: #37475A;
}
footer div.volver_inic a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 16px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 15px;
}
footer div.volver_inic a:hover {
  text-decoration: underline;
  background-color: #485769;
}
footer div.footer-2 {
  background-color: #232F3E;
  padding-top: 50px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex_start;
  flex-direction: row;
}
footer div.footer-2 h3 {
  font-size: 17px;
  color: white;
  font-weight: 750;
}
footer div.footer-2 li {
  margin-top: 15px;
  list-style: none;
}
footer div.footer-2 li a {
  text-decoration: none;
  color: #DDDDDD;
  font-size: 14px;
}
footer div.footer-2 div.footer-2_1 {
  margin-right: 40px;
  width: 70px;
}
footer div.footer-2 div.footer-2_1 a:hover {
  text-decoration: underline;
}
footer div.footer-2 div.footer-2_2 {
  margin-left: 80px;
  width: 220px;
}
footer div.footer-2 div.footer-2_2 a:hover {
  text-decoration: underline;
}
footer div.footer-2 div.footer-2_3 {
  margin-top: auto;
  margin-left: 80px;
  margin-right: 100px;
  margin-bottom: auto;
  width: 250px;
}
footer div.footer-2 div.footer-2_3 a:hover {
  text-decoration: underline;
}
footer div.footer-2 div.footer-2_4 {
  width: 145px;
}
footer div.footer-2 div.footer-2_4 a:hover {
  text-decoration: underline;
}
footer div.footer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #232F3E;
  border-top: 1px solid #919599;
  height: 100px;
  font-size: 13px;
}
footer div.footer-3 .dropdown_3 {
  position: relative;
  display: inline-block;
  height: 10;
}
footer div.footer-3 .footer-3_2 i {
  font-size: 16px;
  padding: 2px;
}
footer div.footer-3 .dropdown-content_footer {
  color: gray;
  font-size: 13px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 250px;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
footer div.footer-3 .dropdown-content_footer p a {
  color: #007185;
  font-size: 12px;
}
footer div.footer-3 .dropdown-content_footer a {
  margin-left: 35px;
  font-size: 12px;
}
footer div.footer-3 .dropdown-content_footer hr {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
footer div.footer-3 .espaciador {
  padding-bottom: 5px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 5px;
}
footer div.footer-3 .espaciador img {
  width: 18px;
  margin-right: 5px;
}
footer div.footer-3 .espaciador input {
  margin: 2px;
}
footer div.footer-3 .espaciador .a_1 {
  padding-right: 0px;
  margin-left: 160px;
  font-size: 13px;
}
footer div.footer-3 .dropdown_3:hover .dropdown-content_footer {
  display: block;
}
footer div.footer-3 .footer-3_1 {
  margin-right: 5rem;
  position: relative;
}
footer div.footer-3 .footer-3_1 img {
  margin-top: 10px;
  margin-left: -80px;
  margin-right: auto;
  margin-bottom: auto;
  height: 50px;
}
footer div.footer-3 .footer-3_4 a {
  display: flex;
}
footer div.footer-3 .footer-3_4 a img {
  margin-top: -2px;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
}
footer div.footer-3 .footer-3_4 a span {
  padding-top: 2px;
}
footer div.footer-3 .border {
  border: 1px solid #919599;
  height: 35px;
  border-radius: 3px;
  margin-left: 20px;
  padding-bottom: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
footer div.footer-3 .border a {
  text-decoration: none;
  color: white;
}
footer div.footer-3 .border a span {
  color: #919599;
}
footer div.footer-4 {
  display: flex;
  justify-content: center;
  align-items: flex_start;
  flex-direction: row;
  height: 550px;
  padding-top: 20px;
  background-color: #131A22;
  margin: auto;
}
footer div.footer-4 div.footer-4_1 {
  margin-right: 30px;
  width: 100px;
}
footer div.footer-4 div.footer-4_2 {
  margin-left: 20px;
  width: 145px;
}
footer div.footer-4 div.footer-4_3 {
  margin-top: auto;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: auto;
  width: 140px;
}
footer div.footer-4 div.footer-4_4 {
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: auto;
  width: 155px;
}
footer div.footer-4 div.footer-4_5 {
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: auto;
  width: 150px;
}
footer div.footer-4 div.footer-4_6 {
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: auto;
  width: 140px;
}
footer div.footer-4 li {
  list-style: none;
  margin-top: 35px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: auto;
  height: 60px;
}
footer div.footer-4 li a {
  text-decoration: none;
  font-size: 13px;
  color: white;
}
footer div.footer-4 li a span {
  display: block;
}
footer div.footer-4 li a .span2 {
  color: #919599;
  font-size: 10;
}
footer div.footer-4 li a:hover {
  text-decoration: underline;
}
footer div.footer-4 li a:hover .a1 {
  color: #919599;
}
footer div.footer-4 li .a1 {
  color: #919599;
}
footer .final {
  background-color: #131A22;
  height: 70px;
  padding-bottom: 30px;
  text-align: center;
  color: #DDDDDD;
  font-size: 12px;
}
footer .final div {
  margin-bottom: 8px;
}
footer .final div a {
  margin-right: 15px;
  color: #DDDDDD;
}
footer .final div img {
  position: absolute;
  height: 23px;
  margin-top: -5px;
}

/*# sourceMappingURL=style.css.map */
